

*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #433d66;; */
}

button{
    cursor: pointer;
}

.navbar{
    background: linear-gradient(-90deg , #e5e1ff , #d0c8ff);
    color: #ffffff;
    font-weight: 600;
    padding: 10px 50px;
    background: linear-gradient(-90deg , #67628d , #4f467d);
    display: flex;
    gap: 20px;
    background: #183282;
    /* background: #4465de; */
}
.navbar a{
    text-decoration: none;
    color: white;
}
.nav-menu{
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 25px;
    font-family: cursive;
    color:#ff9c5a ;
}
.nav-menu a{
    padding: 10px 20px;
    border-radius: 4px;
}
.nav-menu a:hover{
    background: linear-gradient(45deg , #7cb4fe , #529cfc);
    background: linear-gradient(-45deg , #ff593c , #fe8d3a);
}


/* header */
#header {
    position: static;
    background-color: whitesmoke;
}

/* first */
#first {
    display: flex;
    margin: 4em 2em ;
    margin-left: 7em;
    justify-content: center;
}

/* side */
#side{
    width: 20vw;
}
#sortingdata, #filteringdata{
    margin:1em;
}
#sortingdata > p, #filteringdata > p{
    font-size: larger;
    margin-left:.4em;
}

#content{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
/* 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto; */
}

/* .content > div{
    width: 40%;
} */

/* cardiv */
.cardiv{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    width: 30vw;
    cursor: pointer;  
    height: 500px;
    

}

.img_slide{
    max-height: 80%;
     /* max-height: 70%; */
     margin: auto;

}
.mainimg{
    /* width:300px;
    height: 100%; */
    width: 400px;
    height: 200px;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* background-color: #000; */
}
.details{
    height: 50%;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 20px;
    /* background-color: #2c7467; */
}
#title{
    color: #000;
}
#duration{
    color: #183282;
    font-size: small;
    font-weight: bold;
    vertical-align: middle;
    
}
#price{
    float: right;
}
#location, #destination{
    font-size: small;
    padding: 5px 0;
}
#destination{
    font-weight: bold;
}
#price{
font-size:22px;
float: left;
}

/* button */

.btndiv{
    width: 90%;
    display: flex;
    margin-top:30px;
    justify-content: space-between;
   border-spacing: 20px;
   padding-top: 2px;
}
.btn {
    appearance: none;
    /* background-color: #4465de; */
    background-color: rgb(240, 240, 240);
    /* border: 0.125em solid #7cbba8; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border:none;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 2.75em;
    min-width: 0;
    outline: none;
    padding: 0em 0.6em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   .btn:disabled {
    pointer-events: none;
   }
   
   /* .btn:hover {
    color: #fff;
    background-color: rgb(255, 251, 251);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transform: translateY(-2px);
   }
    */
   .btn:active {
    box-shadow: none;
    transform: translateY(0);
   }

  /* loding card */
  .card {
    width: 70vw;
    height: 110px;
    background: #ffff;
    margin:10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: 0 1px 25px rgba(0,0,0,0.2); */
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    padding: 20px 10px;
    border-radius:10px;
  }
  
  .card_load {
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_title {
    width: 50vw;
    height: 10px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  .card_load_extreme_descripion {
    width: 50vw;
    height: 47px;
    position: relative;
    float: right;
    border-radius: 5px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%);
    margin-top: 10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;
  }
  
  @keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }


   /* searchbar */
     #searchbar {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top:2em;
    }

    #searchbar input,#sortingdata select {
        width: 90%;
        margin: .3rem;
        background-color: #e4e4e4;
        color: #000;
        padding: 1rem 2rem;
        min-height: 40px;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        outline: none;
        border: none;
        line-height: 1.15;
        box-shadow: 0px 10px 20px -18px;
    }
    #sortingdata select{
        width: 12vw;
    }
    #searchbar input::placeholder, #sortingdata select::placeholder{
        color: #000;
    }

    #searchbar input:focus, #sortingdata select:focus {
        border-bottom: 2px solid #183282;
        border-radius: 4px 4px 2px 2px;
    }

    #searchbar input:hover, #sortingdata select:hover {
        outline: 1px solid lightgrey;
    }



    #searchbar select {
        padding: .15rem .5rem;
    }



    /* checkbox */
    #pricefilter, #destinationfilter, #durationfilter{
        margin:1em .4em;
        line-height: 1.8em;
    }
    #pricefilter > p, #destinationfilter> p, #durationfilter> p{
        color: #183282;
        font-weight: bold;
    }
   #pricefilter input, #destinationfilter input, #durationfilter input{
    width: auto;
   }

   .btn{
    
    width: fit-content;
   }


   @media screen and (max-width: 768px) and (min-width:426px) {
    #first{
        flex-direction: column;
    }
   
    #side, #content{
        width: 100%;
    }
    #side{
        text-align: center;
    }
    #sortingdata select{
        width: 80vw;
    }

    .cardiv{
        width: 100%;
    }

  
   }


   @media screen and (max-width: 425px) and (min-width:300px) {
    #first{
        flex-direction: column;
    }
   
    #side, #content{
        width: 100%;
    }
    #side{
        text-align: center;
    }
    #sortingdata select{
        width: 80vw;
    }

    .cardiv{
        width: 100%;
        flex-direction: column;
    }
    .img_slide{
        margin: auto;
    }
    .details{
        margin-left: 0px;
    }
    .mainimg{
        width: 100%;
    }
}