body{
    background: #aec2ff;
    background: #7693fb;
    /* background: rgb(155 155 155); */
}
/* side */
#side {
    width: 200px;
    background: linear-gradient(45deg, black, #43484a);
    position: fixed;
    height: calc(100vh - 124px);
    top: 94px;
    color: white;
    left: 30px;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(14,28,72), rgba(14,28,72,0.8));
}
#sortingdata,
#filteringdata {
  margin: 1em;
  
}
#sorting {
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    width: 100%;
    color: rgb(255 255 255);
    background: linear-gradient(45deg, rgb(32 32 32), rgb(33, 34, 34));
    padding: 5px 20px;
    margin: 10px 0;
  }
  #sorting option{
    background: rgb(32, 32, 32);
    border-radius: 10px;
    border: 1px solid black;
}
#sortingdata > p,
#filteringdata > p {
  font-size: larger;
  margin-left: 0.4em;
}

/* checkbox */
#pricefilter,
#destinationfilter,
#durationfilter {
  margin: 1em 0.4em;
  line-height: 1.8em;
}
#pricefilter > p,
#destinationfilter > p,
#durationfilter > p {
  color: #e9e9e9;
  font-weight: bold;
}
#pricefilter input,
#destinationfilter input,
#durationfilter input {
  width: auto;
}

.btn {
  width: fit-content;
}

#content {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-template-columns: repeat(auto-fit, 500px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-left: 230px;
  /* background-color: red; */
  padding: 30px;
  justify-content: center;
}

#content .img_slide img {
  width: 100%;
  height: 270px;
  border-radius: 37px;
  object-fit: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.card-main-div{
    border-radius: 37px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.cardiv {

  cursor: pointer;
  color: #183282;
  color: #ffffff;
  position: relative;
  padding: 20px;
  backdrop-filter: blur(15px);
  background: rgba(14,28,72, 0.8);
  height: 100%;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.foot-correct{
    width: calc(100% - 230px);
    margin-left: 230px;
    padding: 30px;
}

.footer-info{
    background: linear-gradient(45deg, rgb(14,28,72), rgba(14,28,72,0.6));
}
.footer-info .search{
    background: linear-gradient(45deg, #3c3c3c, #212222);
}
.btn {
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    padding: 10px 20px;
    text-decoration: none;
  
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .btn:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .btn {
    background-image: linear-gradient(
      to right,
      #ff6e30,
      #ff6456,
      #ff9c6b,
      #cc4f38
    );
    /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
    background-image: linear-gradient(
      to right,
      #eb7d42,
      #e43603,
      #fa7199,
      #e85a19
    );
  }

#nav_parent{
    backdrop-filter: blur(15px);
    background: rgba(14,28,72, 0.8);
}

.btndiv{
    display: flex;
    justify-content: space-between;
  }
  
  .details h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .destination-details  , .duration-details{
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
}
  .duration-details>p>i{
    font-size: 24px;
}
.duration-details>p>i:hover{
    font-size: 24px;
    color: rgb(255, 147, 92);
}

#searchbar #search{
  border-radius: 40px;
  color: black;
  background: linear-gradient(45deg, rgb(198 198 198), rgb(196 196 196));
  padding: 10px 20px;
  border: none;
}

@media only screen and (max-width: 930px) {

  .nav-menu{
    position: fixed;
    background: #142347;
    right: 100%;
    top: 64px;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.5s ease-in-out;
    padding: 0;
  }
  #nav-toggle{
    display: block;
  }

  #side{
    display: none;
  }
  #content{
    margin: 0;
    grid-template-columns: repeat(auto-fit, 350px);
  }
  #content .img_slide img{
    height: 200px;
  }
  .foot-correct{
    margin: 0;
    width: 100%;
  }

  






}
@media only screen and (max-width: 630px) {

  #searchbar input{
    width: 110px;
  }
}