* {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* color: #433d66;; */
}

button {
  cursor: pointer;
}

.navbar {
  background: linear-gradient(-90deg, #e5e1ff, #d0c8ff);
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  background: linear-gradient(-90deg, #67628d, #4f467d);
  display: flex;
  gap: 20px;
  background: #183282;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.nav-menu {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}
.logo {
  font-size: 25px;
    font-family: cursive;
    color: #ff9c5a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.nav-menu a {
  padding: 10px 20px;
  border-radius: 4px;
}
.nav-menu a:hover {
  background: linear-gradient(45deg, #7cb4fe, #529cfc);
  background: linear-gradient(-45deg, #ff593c, #fe8d3a);
}

#logout {
  background: #183282;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 50px; */
  gap: 20px;
  color: #eceadd;
  background: linear-gradient(-90deg, #67628d, #4f467d);
  background: #183282;
  border-radius: 24px;

}
.conct{
  text-align: center;
}
.footer .search {
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  width: max-content;
  color: #433d66;
  background: #7693fb;
  background: #183282;
}
.footer input {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  outline: none;
  background: transparent;
}
.footer input::placeholder {
  color: #aaa4cf;
}
.footer button {
  background: linear-gradient(-45deg, #7cb4fe, #529cfc);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  border-radius: 40px;
  background: linear-gradient(-45deg, #ff593c, #fe8d3a);
}

.footer .contact i {
  font-size: 50px;
  margin: 10px;
  cursor: pointer;
  background: radial-gradient(
    circle at 33% 100%,
    #e9e9e9 4%,
    #e5e2e2 30%,
    #b4afb1 62%,
    #d3ced4 85%,
    #dbdce4
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  position: relative;
}
.footer .contact i:hover {
  background: radial-gradient(
    circle at 33% 100%,
    #92c5f4 4%,
    #b7ceff 30%,
    #bbd7ff 62%,
    #bec8ff 85%,
    #a6e4ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .contact {
  position: relative;
  height: 160px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  width: 224px;
  margin: 20px;
}
.footer .contact .abs {
  position: absolute;
  z-index: 2;
}

.footer-info {
  display: flex;
  /* display: grid;
      grid-template-columns: auto auto; */
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: red;
  padding: 20px;
  background: #102565;
  border-radius: 14px;
}

.footer-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  /* border: 1px solid; */

  /* text-align: center; */
}
.footer-details p {
  color: #c0cdff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
}
.footer-details p:hover {
  color: #ebefff;
  cursor: pointer;
  background-color: tomato;
  border-radius: 4px;
}
.footer-details h4 {
  color: #dae1ff;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-details > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.footer-social {
  /* flex-grow: 1; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* flex */
}
.copy-right {
  padding: 10px;
  text-align: center;
  color: #eceadd;
  background: linear-gradient(-90deg, #4b4767, #3c355e);
  background: #102565;
}


/* research */
.navbar{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.navbar2{
  background: #183282;
  width: 70px;
  position: fixed;
  top: 66px;
  left: 0;
  height: calc(100vh - 66px);
  z-index: 900;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  padding: 8px;
  color: white;
  align-items: center;
  border-radius: 4px;
}

.navbar2 i{
  font-size: 40px;
  cursor: pointer;
  background: radial-gradient( circle at 33% 100%, #ffffff 4%, #ffffff 30%, #fff9fc 62%, #f3f2f3 85%, #ffffff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar2 img{
  width: 100%;
  cursor: pointer;
}
.navbar2 img:hover{
  background-color: #2d50b8;
}
.navbar2> div{
  padding: 10px;
  background-color: #0e1c48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  gap: 10px;
  margin: 10px 0 30px;
}
/* research */

.foot-correct{
  width: calc(100% - 70px);
  margin-left: 70px;
  padding: 30px;
}
.login-nav-cont{
  display: flex;
  gap: 10px;
  align-items: center;
}
.flex-div img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgb(74, 71, 255);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .tooltiptext::after {
  content: " ";
position: absolute;
top: 50%;
right: 100%; /* To the left of the tooltip */
margin-top: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent rgb(74, 71, 255) transparent transparent;
}
.nav-menu i{
  margin-right: 5px;
}
#nav-toggle{
  display: none;
}

@media only screen and (max-width: 930px) {

  .nav-menu{
    position: fixed;
    background: #142347;
    right: 100%;
    top: 64px;
    height: 100vh;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.5s ease-in-out;
    padding: 0;
  }
  #nav-toggle{
    display: block;
  }







}
@media only screen and (max-width: 690px) {

  .nav-menu{
    gap: 0;
  }

  .navbar2{
    left: 100%;
    z-index: 1000;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    top: 300px;
    justify-content: flex-start;
    width: 100%;
    transition: left 0.5s ease-in-out;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
  }
  .navbar2 img{
    width: 18px;
  }
  .navbar2 .tooltip .tooltiptext{
    margin-left: 5px;
    visibility: visible;
    position: static; 
    background: none;
  }
  .navbar2> div{
    align-items: flex-start;
  }

  .foot-correct{
    margin: 20px 15px;
    width: calc(100% - 30px);
    padding: 0;
  }
  .footer-details{
    flex-wrap: wrap;
  }

}